body {
	font-family:  sans-serif;
	line-height: 1.5em;
	background-color: yellow;
	font-family: avenir;

}

#background{
	margin-left: 147px;
	margin-top: -766px;
	opacity: 0.7;
	z-index:-55;
}

.interactive{
		font-size: 30px;
    line-height: 1em;
    font-weight: 700;
    font-family: avenir;
    font-style: italic;
    color: black;
    margin-top: 96px;
    margin-left: 245px;
}

.name{

	font-size: 21px;
    line-height: 1em;
    font-weight: 700;
    font-family: avenir;
    font-style: italic;
	color: black;
	margin-left: 450px;
	margin-top:-23px;

}


h1 {
	text-align: left;
	line-height: 83%;
	font-size: 2em;
	color: #5A0AAA;
	margin-left: 43px;
	margin-top: 352px;

}

h3 {
font-size: 1.2em;
line-height: 1em;
color: black;
}

#title{
	line-height: 2em;
}

#Exercises {
font-size: 1em;
line-height: 1em;
color: black;
margin-left:453px;
margin-top: 50px;

}

#Project {
font-size: 1em;
line-height: 1em;
color: black;
margin-left:453px;
margin-top: 70px;
}


#Presentation {
font-size: 1em;
line-height: 1em;
color: black;
margin-left:453px;
margin-top: 49px;
}

#VisualInteractive {
font-size: 1em;
line-height: 1em;
color: black;
margin-left:453px;
margin-top: 49px;
}


a {
	font-weight: bold;
	color: #5A0AAA;
	text-decoration: none;
}

a:hover {
	background-color:#5A0AAA;
}

ul {
	list-style: none;
	margin-left: -58px;
	line-height: 1.3;
}

ul li {
	color: #CCC;
}
